<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.0.228</MSDeployServiceURL>
    <DeployIisAppPath>Home/cs59/MVCTEERADET/cs01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>student</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ComCSDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.0.0.228,1443;Initial Catalog=ComCSDB;User ID=student;Password=12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Khruphanth.Models.ComCSDBEntities, Khruphanth" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ComCSDBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=10.0.0.228,1443;Initial Catalog=ComCSDB;User ID=student;Password=12345" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-8O45V40\SQLEXPRESS;Initial Catalog=ComCSDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ComCSDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-8O45V40\SQLEXPRESS;Initial Catalog=ComCSDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ComCSDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=10.0.0.228,1443;initial catalog=ComCSDB;user id=student;password=12345;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ComCSDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=10.0.0.228,1443;initial catalog=ComCSDB;user id=student;password=12345;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ComCSDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=10.0.0.228,1443;initial catalog=ComCSDB;user id=student;password=12345;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ComCSDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.0.0.228,1443;Initial Catalog=ComCSDB;User ID=student;Password=12345"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>